$very-Dark-Blue-BG: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$Dark-Mode-Background: hsl(209, 23%, 22%);
$Light-Mode-Background: hsl(0, 0%, 98%);
$Dark-Light-Mode-Elements-text: hsl(0, 0%, 100%);
$transition: 0.3s;
